body {
  font-family: Moderat, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "dlig", "liga";
  hyphens: auto;
  line-break: after-white-space;
  letter-spacing: normal;
}

h1,
h2 {
  margin: 0 0 16px;
}

h1 {
  font-size: 100px;
  margin: 0;
}

h2 {
  font-size: 36px;
}
